<section class="panel">
    <% @skills.each do |skill| %>
        <%= link_to(skill_path(skill)) do%>
            <section class="skills">
                <h3 class="skill-title"><%= skill.name %></h3>
            </section>
        <% end %>
    <% end %>
</section>