<% @skill.experiences.each do |experience| %>
    <section class="skill-detail">
        <h4 class="experienceName"><%= experience.name %><h4> 
        <p class="experienceSource">from <%= experience.source %></p>
        <p class="experienceCompletedOn">on <%= experience.completed_on %></p>
    </section>
<% end %>