<section id="about">
    <%= image_tag "/self.jpg", id: "self-photo" %>
    <p>I'm originally from South Dakota, moved to New York for college. I took my first coding class and I've been hooked ever since. I love learning new languages (human and programming) and building things. <p>

    <p>My hobbies include: programming, learning, guitar, and video games. I like to drink root beer, I'm a vegetarian and I like talking to people.</p>

    <p>I'm fluent in Mandarin Chinese. I passed the HSK 4 test above average, so I'm just shy of business level proficiency. 如果您会普通话的话,我叫李优.去过一次中国南京,挺好玩的.我最想的是中国菜,又便宜,又好吃,再说很方便.</p> 
</section>
