<section class="projects">
    <h3><%= @project.name %></h3>
    <p><%= @project.description %></p>
    <% @project.skills.each do |skill| %>
        <%= link_to(skill_path(skill)) do %>
            <button class="skill-button"><%= skill.name %></button>
        <% end %>
    <% end %>
</section>