// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


.skill-button {
    background-color: $near-black;
    padding: 4px 7px;
    border: solid 1px $orange;
    border-radius: 10px;
    color: $orange;
}

.skill-button:hover {
    background-color: $orange;
    color: $near-black;
    animation-name: fadeBlackToOrange;
    animation-duration: 0.3s;
}

.skill-detail {
    border-left: 3px solid $orange;
    padding-left: .5em;
    margin-left: .5em;
}

.skill-detail h4, p {
    padding-top: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

.skills {
    color: $orange;
    // background-color: white;
    border: 1px solid $orange;
    border-radius: 4px;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
    height: 100px;
    text-align: center;
}

.skills:hover {
    animation-name: fadeBlackToOrange;
    animation-duration: 0.3s;
    background-color: $orange;
    color: $near-black;
}

.skills a{
    text-decoration: none;
}

.skills h3 {
    padding-top: 20px;
}

